h1,h3{
    text-align: center;

}
#tweets{
    background-color: #fbfcfd;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 2%;

}

#main_page{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.card{
    padding: 1%;
    width: 15%;
    height: auto;
    margin: 2%;
    border: solid #8daab4 2px;
    background: #f9fdff;
    display: inline-block;
}
.card-img-top{
    width: 100%;
}

.card-body{
    padding: 5%;
    height: 30%;

}

.card-title,.author_name{
    font-family: Stencil Std, fantasy;
}

.card-text{
    height: 60px;
    overflow: hidden;
    /*将对象作为弹性伸缩盒子模型显示*/
    display: -webkit-box;
    /*设置子元素排列方式*/
    -webkit-box-orient: vertical;
    /*设置显示的行数，多出的部分会显示为...*/
    -webkit-line-clamp: 3;
}


.btn{
    bottom: 0;
}


thead tr th{
    font-size: x-large;
    width: 35%;
}

button{
    text-align: center;
    width: 50%;
}

.tweeter_info{
    text-align: center;
}

.tweet_box{
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: solid deepskyblue 2px;
    width: 40%;
    display: inline-block;
    background-color: #deeefa;

}

.titles{
    font-size: large;
    color: #3072a4;
}
.tweetbox_left{
    width: 70%;
    vertical-align: top;
}
.tweetbox_right{
    width: 20%;
    vertical-align: top;
}

.tweet_img{
    alignment: top;
    width: 100%;
}
.author_pil{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.author_pil,.author_name,.author_des{
    padding: 1%;
}
.author_name{
    font-size: 20px;
}
